@use "variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-padding-top: v.$header-height;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  background-color: v.$color-background;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:focus-visible {
  outline: v.$border-medium solid v.$color-primary;
  outline-offset: v.$space-xxs;
}
