<div class="page-background" aria-hidden="true">
  <img
    class="page-background__shadows"
    src="graphics/bg/shadows-desktop.svg"
    alt=""
    width="2536"
    height="5808"
  />
  <img
    class="page-background__photo-shadows"
    src="graphics/bg/photo-shadows-desktop.svg"
    alt=""
    width="800"
    height="768"
  />

  <img
    class="page-background__blob page-background__blob--purple-1"
    src="graphics/bg/purple-shadow-mobile-1.svg"
    alt=""
    width="558"
    height="570"
  />
  <img
    class="page-background__blob page-background__blob--green-1"
    src="graphics/bg/green-shadow-mobile-1.svg"
    alt=""
    width="518"
    height="426"
  />
  <img
    class="page-background__blob page-background__blob--purple-2"
    src="graphics/bg/purple-shadow-mobile-2.svg"
    alt=""
    width="445"
    height="573"
  />
  <img
    class="page-background__blob page-background__blob--green-2"
    src="graphics/bg/green-shadow-mobile-2.svg"
    alt=""
    width="348"
    height="649"
  />
  <img
    class="page-background__blob page-background__blob--purple-3"
    src="graphics/bg/purple-shadow-mobile-3.svg"
    alt=""
    width="393"
    height="410"
  />
  <img
    class="page-background__blob page-background__blob--purple-4"
    src="graphics/bg/purple-shadow-mobile-4.svg"
    alt=""
    width="444"
    height="394"
  />
</div>
