@use "variables" as v;
@use "breakpoints" as bp;

:host {
  position: absolute;
  inset: 0;
  z-index: v.$z-base;
  overflow: hidden;
  pointer-events: none;
}

.page-background {
  position: relative;
  height: 100%;
}

.page-background__shadows,
.page-background__photo-shadows {
  display: none;
  position: absolute;
  max-width: none;

  @include bp.respond-to(lg) {
    display: block;
  }
}

.page-background__shadows {
  top: 0;
  left: calc(
    (100% - min(100%, #{v.$bg-design-width})) /
      2 - min(#{-(v.$bg-shadows-left)}, #{v.$bg-shadows-left-max})
  );
  width: min(#{v.$bg-shadows-width}, #{v.$bg-shadows-width-max});
  height: 100%;
}

.page-background__photo-shadows {
  top: v.$bg-photo-top;
  left: calc(
    (100% - min(100%, #{v.$bg-design-width})) / 2 +
      min(#{v.$bg-photo-left}, #{v.$bg-photo-left-max})
  );
  width: min(#{v.$bg-photo-width}, #{v.$bg-photo-width-max});
}

.page-background__blob {
  position: absolute;
  max-width: none;
  height: auto;
  opacity: v.$opacity-bg-blob-mobile;

  @include bp.respond-to(lg) {
    display: none;
  }
}

$blobs: (
  "purple-1": (
    top: -24rem,
    left: -30%,
    width: min(143%, 34.875rem),
  ),
  "green-1": (
    top: 26%,
    right: -80%,
    width: min(133%, 32.375rem),
  ),
  "purple-2": (
    top: 26%,
    left: -45%,
    width: min(114%, 27.8125rem),
  ),
  "green-2": (
    top: 45%,
    right: -30%,
    width: min(89%, 21.75rem),
  ),
  "purple-3": (
    top: 68%,
    left: -25%,
    width: min(101%, 24.5625rem),
  ),
  "purple-4": (
    top: 84%,
    right: -40%,
    width: min(114%, 27.75rem),
  ),
);

@each $name, $placement in $blobs {
  .page-background__blob--#{$name} {
    @each $property, $value in $placement {
      #{$property}: $value;
    }
  }
}
